<% include partials/header%>


<div class="ui main text container segment">
	<div class="ui huge  header">
		<%=blog.title%>
	</div>

<!-- Semantic UI 's item :https://semantic-ui.com/views/item.html -->
	  <div class="item">
		<img class="ui centered rounded medium image"src="<%=blog.image%>">
		<div class="content">
			
			<span id="showPage-date"><%=blog.created.toDateString()%></span>
			
			<div id="showPage-desc" class="description">
				<p><%-blog.body%></p>
			</div>
		</div>
		<a  class="ui orange basic button" href="/blogs/<%=blog._id %>/edit">EDIT</a>
		<form  id="delete"class="ui form" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
			<button class="ui red basic button" >DELETE</button>
		</form>  
		  
		
      </div>

	
</div>




	
	
<% include partials/footer%>